.react-tel-input .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.react-tel-input .form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #8be1d9;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(23, 195, 178, 0.25);
}

.was-validated .react-tel-input .form-control:invalid,
.react-tel-input .form-control.is-invalid {
    border-color: var(--bs-form-invalid-border-color);
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23dc3545%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23dc3545%27 stroke=%27none%27/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.w-2rem {
    width: 2rem !important;
}

@media (min-width: 576px) {
    .w-3rem {
        width: 3rem !important;
    }
}

.form-control.otp-input {
    width: 2rem !important;
    /* border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 2px solid var(--bs-sea-green);
    background-color: #e0e0e0; */
}

/* .form-control.otp-input:focus {
    border-color: var(--bs-amaranth-purple);
} */

.was-validated .form-control.otp-input:invalid,
.form-control.otp-input.is-invalid {
    background-image: none;
}

/* .was-validated .form-control.otp-input:invalid:focus,
.form-control.otp-input.is-invalid:focus {
    box-shadow: none;
} */
