* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-subtitle {
    color: #7f8084;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-title {
    height: 45px;
    text-align: center;
}

/* .insta-icon{

} */
.fb-icon:hover {
    color: #4267B2;
    transition: all 0.3s;
    transition: .3s ease;
}

.insta-icon:hover {
    color: #e11d74;
    transition: all 0.3s;
    transition: .3s ease;
}

.twit-icon:hover {
    color: #00acee;
    transition: all 0.3s;
    transition: .3s ease;
}

.wp-icon:hover {
    color:#25D366;
    transition: all 0.3s;
    transition: transform .6s;
    transition: .3s ease;
}