* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-subtitle {
    color: #7f8084;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-title{
    height: 45px;
    text-align: center;
}