* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo-img{
    width: 60px;
}
.card-subtitle {
    color: #7f8084;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-title {
    height: 45px;
    text-align: center;
}

/* .insta-icon{

} */
.fb-icon:hover {
    color: #4267B2 !important;
    transition: all 0.3s;
    transition: .3s ease;
}

.insta-icon:hover {
    color: #e11d74 !important ;
    transition: all 0.3s;
    transition: .3s ease;
}

.twit-icon:hover {
    color: #00acee !important;
    transition: all 0.3s;
    transition: .3s ease;
}

.wp-icon:hover {
    color:#25D366 !important;
    transition: all 0.3s;
    transition: transform .6s;
    transition: .3s ease;
}

#shopping_cart:hover{
    color: var(--bs-link-hover) !important;
}