.center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* Header Styling Start */
.navbar-top {
    --bs-navbar-color: var(--bs-light);
    --bs-navbar-hover-color: var(--bs-sea-green);
    --bs-navbar-active-color: var(--bs-sea-green);
}
header .nav-item.btn a {
    color: var(--bs-light);
}
header .nav-item.btn:hover a {
    color: var(--bs-sea-green);
}
header .nav-item.btn:active a {
    color: var(--bs-amaranth-purple);
}
/* Header Styling End */

/* Search Bar Styling */
@media (max-width: 375px) {
    #searchToggle .form-select {
        max-width: 42px !important;
        padding-left: 0.25rem;
    }
}

.offcanvas-center {
    top: 20%;
    bottom: initial;
    left: 50%;
    translate: -50% -50%;
    transform: scale(0.98);
    opacity: 0;
}
.offcanvas-center.show:not(.hiding),
.offcanvas-center.showing {
    opacity: 1;
}
.fade {
    transition: all 0.2s linear;
}
.offcanvas.offcanvas-center {
    transition: all 0.2s ease-in-out;
}
.offcanvas-backdrop {
    background-color: #0f172a40;
}
.offcanvas-backdrop.show {
    opacity: 1;
    backdrop-filter: blur(3px);
}
/* Search Bar Styling */

/* Footer Styling Start*/
footer .social-links a {
    color: var(--bs-light);
}
footer .social-links a:hover {
    color: var(--bs-amaranth-purple);
}
footer h6::after {
    display: block;
    content: "";
    background: var(--bs-sea-green);
    height: 2px;
    width: 75%;
}
footer a {
    color: var(--bs-gray-400);
}
footer a:hover {
    color: var(--bs-sea-green);
}
/* Footer Styling End */
