/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


#content {
  min-height: 90vh;
}

.table-dark {
  --bs-table-bg: #2125299e;
}

svg.bi {
  width: 25px;
  height: 25px;
}

td {
  cursor: pointer;
}

.details {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.details .big-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  min-width: 360px;
  padding-top: 20px;
  overflow: hidden;
  margin: 25px;
}

.img-cont {
  max-height: 275px;
  min-height: 275px;
  max-width: 200px;
}

.big-img img {
  /* width: 100%;
  height: 100%; */
  max-width: 200px;
  max-height: 275px;
  display: block;
  object-fit: cover;
}

.details .box {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}

.box .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.box .row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.box .row strong {
  font-size: 1.3rem;
  color: rgb(20, 123, 220);
}

.box .colors button {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}

.box p {
  /* line-height: 1.5; */
  margin: 13px 0;
}

.thumb {
  width: 100%;
  height: 60px;
  display: flex;
  margin: 10px 0;
}

.thumb img {
  cursor: pointer;
  width: 60px;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 5px;
  opacity: 0.7;
  border-radius: 5px;
}

.thumb span.active img {
  opacity: 1;
  border: 1px solid lightseagreen;
}

.box .cart {
  background: #333;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
}

@media (max-width: 500px) {
  .thumb {
    height: 50px;
  }

  .thumb img {
    width: 50px;
  }
}



body {
  overflow-x: hidden;
}

.bi {
  width: 20px;
  height: 20px;
  fill: currentcolor;
}

.alert {
  padding: 8px 0 8px 12px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-radius: 2px;
  border: none;
  border-left: 8px solid;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.alert .msg {
  padding: 0 15px 0 10px;
  font-size: 16px;
}

.alert.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.alert.show {
  animation: show_slide 1s ease forwards;
}

.alert.hide {
  animation: hide_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }

  40% {
    transform: translateX(-10%);
  }

  80% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10px);
  }
}

@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(0%);
  }

  80% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(100%);
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
} */

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}


.wrapper {
  height: 100%;
  padding: 20px;
}

.drop_zone {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 200px;
  cursor: pointer;
  border: 2px dashed #ccc;
  border-radius: 6px;
}

.drop_zone>p {
  text-align: center;
  margin: auto;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  display: inline-block;
}

.image>img {
  width: 100px;
}